*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120, auto)repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid wihte;
    outline: none;
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
}

.calculator-grid>button:hover {
    background-color: rgb(7, 7, 7);

}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    height: 100px;
}

.current {
    color: white;
    font-size: 2.5rem;
}